/* Seteo inicial */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Tipografía para toda la página */
body {
  font-family: "Roboto", sans-serif;
}

/* Barra de navegación transparente y sobrepuesta al carrusel */
nav img {
  width: 30pt;
}

nav li {
  font-size: 14pt;
}

#inicio {
  background-color: transparent;
  width: 100%;
  z-index: 1000;
}

/* Carrusel debajo del navbar sobrepuesto */
header {
  z-index: 1;
}

header img {
  width: 100%;
}

/* Sección de tres columnas con texto */
article {
  color: white;
  background-color: black;
}

#fila_parrafos {
  padding-top: 15pt;
}

#quienesSomos i {
  font-size: 25pt;
  color: white;
}

#quienesSomos h2 {
  padding-top: 45pt;
  padding-bottom: 15pt;
  text-align: center;
}

#quienesSomos p {
  text-align: justify;
}

.custom-tooltip .tooltip-inner {
  background-color: white;
  color: black;
  font-size: 12pt;
}

/* Sección de destacados con cards de lugares */
#destacados {
  color: white;
  background-color: black;
}

#destacados h2 {
  padding-top: 45pt;
  padding-bottom: 15pt;
  text-align: center;
}

#destacados p {
  text-align: justify;
}

#destacados img {
  height: 150pt;
}

#destacados h3,
p {
  color: white;
}

/* Section del formulario de contacto */
section#contacto {
  color: white;
  background-color: black;
}

#formulario_contacto {
  padding-bottom: 80px;
}

#formulario_contacto textarea {
  height: 250px;
}

#formulario_contacto button {
  color: white;
}

#contacto h2 {
  padding-top: 45pt;
  padding-bottom: 15pt;
  text-align: center;
}

/* Footer con enlaces a redes sociales */
footer {
  color: white;
}

footer i {
  color: white;
  font-size: 30pt;
}

#pie_pagina.container {
  padding: 60px 130px;
}

#enlaces a {
  margin: 8pt;
  text-decoration: none;
}
